* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryFont: 'Nunito Sans', sans-serif;
    --primaryColor: #000;
    --backgroundColor: #D9D9D9;
    --whiteColor: #fff;
    --activeBtn: #757575;
    --border: #fff;
    --borderRadius: 20px;
}


body {
    font-family: var(--primaryFont);
    color: var(--primaryColor);

    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}


a {
    color: var(--whiteColor);
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1238px;
    margin: 0 auto;

}

.bodyBg {
    background: var(--backgroundColor);
    padding: 60px 30px;
    margin-top: 92px;
    border-radius: var(--borderRadius);
}


.bodyBg #tabs-container {
    display: flex;
}

.userTab {
    flex: 0 0 32%;
    max-width: 32%;
}

.activeInfoBox {
    flex: 0 0 68%;
    max-width: 68%;


}

.tab {
    
    background: var(--whiteColor);
    border-radius: var(--borderRadius);
    margin-bottom: 20px;
    width: auto;
}

.multiTab {
    padding: 30px 49px;
  
}

.tabs-menu li {
    list-style: none;

}
.slick-slide {
    margin: 0 8px;
}
.tabs-menu > li:first-child > a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tabs-menu > li:last-child > a {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tabs-menu>li.nav.current:last-child>a {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
.tabs-menu .nav.current > li:last-child > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tabs-menu li.current > a {
    position: relative;
    background: var(--activeBtn);
    z-index: 5;
}

.tabs-menu li a {
    padding: 19px 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #000;
    display: inline-block;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid;
    border-color: var(--border);
    font-weight: 700;
    font-size: 24px;
}


.tabs-menu li   .sub-menu a{
    font-size: 18px;
    background: #bebbbb;
    color: var(--primaryColor);
}
.tabs-menu li   .sub-menu li.current a{
    background: var(--activeBtn);
    color: #fff;
}



.tab-content {

    display: none;
}

#tab-1 {
    display: block;
}

.tab-content h1 {
    font-size: 34px;
    line-height: 56px;
    font-weight: 700;
    margin: 0px 0 20px 0;
}


.tab-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 56px 0 0 20px;
}
.nav .sub-menu {
    display: none;
}
.tab-content ul li {
    flex: 0 0 25.5%;
    max-width: 25.5%;
    line-height: 41px;
}

.tab-content ul li:nth-child(3n) {
    color: #D51313;
}

.userInfo ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.userInfo ul li {
    list-style: none;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.userInfo ul li a {
    background: var(--primaryColor);
    padding: 16px 11px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border-left: 1px solid;
    border-color: var(--border);
    text-transform: capitalize;
    border-bottom: 0;
}

.userInfo ul li:first-child a {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.userInfo ul li:last-child a {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
}

.iskproSlider{
    margin:0 auto;
   overflow:hidden;
     position: relative;
  }
  
  .iskproSlider .slick-slide:not(.slick-active) {   
  }
  
  .iskproSlider  .child {
      width: 100%;
  }
  
  .iskproSlider  .slide:not(.slick-active) {
      cursor: pointer;
  }
  
      .iskproSlider .pagination {
          font-size: 32px;
          line-height: 42px;
          font-style: italic;
          color: var(--primaryColor);
          text-align:center;
          position: absolute;
          top: 64%;
          left: 50%;
          transform: translate(-52%, -50%);
      }
       
      .iskproSlider .slick-prev.slick-arrow {
          position: absolute;
          right: 150px;
          top: -64px;
          font-size: 0px;
          background: transparent;
          border: none;
      } 
      .iskproSlider .slick-next.slick-arrow {
          position: absolute;
          right: 0px;
          top: -64px;
          font-size: 0px;
          background: transparent;
          border: none;
      }
  .uM_Flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .iskproSliderItem.center.slick-initialized.slick-slider {
      margin-top: 80px;
  }
  
  .iskproSliderItem {
      z-index: 2;
  }
  
  .iskproSliderItem .slick-list {
      overflow: visible;
      padding: 0 20% 0 20%;
      position: relative;
  }
  
  .iskproSliderItem .slick-list::after {
      content: ' ';
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 4000px;
      right: 100%;       
  } 
  .iskproSliderItem h4 {
      font-size: 30px;
      font-weight: normal;
      line-height: 36px;
      margin-top: 28px;
      text-align: center;
  }
  .iskproSliderItem p {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      opacity: 0;
      margin-top: 20px;
      transition: all 0.8s ease-in;
  }
  .iskproSliderItem .slide.slick-slide.slick-current.slick-active.slick-center {
      position: relative;
  }   
  .iskproSliderItem .slick-slide img {        
      margin: 0 auto;
      width: 200px;
  }   
  
  .slick-dots li::marker {
    height: 25px;
    width: 25px;
    color: var(--activeBtn);
    padding: 23px;
    font-size: 2.2em;
  }

  .slick-dots li.slick-active::marker {
    color: #B33636;
  }
  .slick-slide:not(.slick-active) {
     opacity: 0.2;
  }
  .iskproSliderItem .slick-slide.slick-current.slick-center {
      opacity: 1;	
  }
  
  .slick-dots button {
      display: none;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 4.2rem 0 0rem 3.2rem;
    padding-bottom: 104px;
  }
  .slick-dots li{
      margin: 0px 11px;
      cursor: pointer;
   }
  
   .iskproSlider [aria-hidden="true"] {
     opacity: 0.5;
  }